@font-face {
    font-family: 'HelveticaNeueLTCom';
    src: url('../fonts/4bfcbca43f8e9ab6573aff70d9d3d39c.eot');
    src: url('../fonts/4bfcbca43f8e9ab6573aff70d9d3d39c.eot?#iefix') format('embedded-opentype'),
         url('../fonts/4bfcbca43f8e9ab6573aff70d9d3d39c.woff') format('woff'),
         url('../fonts/4bfcbca43f8e9ab6573aff70d9d3d39c.ttf') format('truetype'),
         url('../fonts/4bfcbca43f8e9ab6573aff70d9d3d39c.svg') format('svg');
    src: url('../fonts/4bfcbca43f8e9ab6573aff70d9d3d39c.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
